body {
	background: white;
	margin: 0;
	font-family: 'Shadows Into Light', cursive;
	text-align: center;

}



.navbar {
	display: flex;
	justify-content: space-between;
	background: pink;
	position: fixed;
	width: 100%;
}

.logo {
	width: 70px;
	height: 70px;
}

.mot {
	display: flex;
	background: pink;
	width: 50%;
	justify-content: space-around;
	align-items: center;

}

.bouton {
	color: black;

}

h1 {
	text-decoration: underline;
	font-size: 50px;
	text-align: center;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 30px 70px 200px 0px;
  background: white;
}

.yolo {
	display: flex;
	justify-content: center;
}

.eye {
	width: 300px;
	height: 300px; 
	color: white; 
}

.border {
	color: white;
}

.text {
	margin: 10px;
	text-align: center;
}

.ytb {
	text-decoration: underline;
	text-align: center;
}

.pink {
	background: pink;
	text-align: center;
}

.survey {
	padding: 50px 200px 50px 200px;
}

.email {
	width: 90%;
} 

.color {
	text-align: center;
	font-size: 20px;
	text-decoration: underline;
}

.asterisk {
	text-align: right;
}

.mag {
	text-align: center;
	text-decoration: underline;
	font-size: 20px; 
}

.map {
	text-align: center;
}


.picto {
	font-size: 20px;
	color: black;
	margin: 10px 10px 0px 10px;
	text-decoration: underline;
}


.mdr {
	text-align: right;
	background: pink;
	
}

.trk {
	display: flex;
	justify-content: space-between;
	background: pink;
}

i {
	font-size: 50px;
}
